@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --black:#161616;
    --white:#FFFFFF;
    --faint:#898989;
}
body{
    height: 4000px;
    font-family: 'poppins',sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;

}
header{
    background-color: black;
}
.container{
    max-width: 1170px;
    padding: 0 100px;
    margin:0 auto;
}

header nav  .left a{
    color: white;
    text-decoration: none;
    margin: 2rem;
    transition: all .3s ease;
}
header nav  .left a:hover{
    color: #3DCFD3;
}

header nav{
    padding:2rem 0;
}
.radhika{
    padding: 3rem 0;
}
.radhika .right{
    color: white;
    margin:0 4rem
}
.radhika .right h4{
    color: #3DCFD3;
    margin-bottom: 0.5rem;
}
.radhika .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.radhika .right h1 span{
    color: #3DCFD3;
}
.radhika .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
section{
    padding:6rem 0;
}
section.about .about-me-img{
    height:450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 4rem;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-left: 4rem;
}
section.about p{
    margin-left: 4rem;
}
section.about h1 span{
    color: #3DCFD3;
}
section.about .social{
    display: flex;
}
.section-title p {
    margin-bottom: 0;
  } 
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: #ffffff;
    height: 10px;
  }
  .skills .progress-bar {
    width: 1px;
    height: 10px;
  }  
  .section-title h2{
    color: #3DCFD3;
    font-weight: 100;
    margin-bottom: 2rem;
  }

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #3DCFD3;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #3DCFD3;
    margin-bottom: 10px;
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #3DCFD3;
  }

  section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  section.contact .card-wrapper .card{
    text-align: center;
  }
  section.contact .card-wrapper .card h4{
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
  }
  section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
  }
  section.contact input{
    padding: 0.5rem;
  }
  section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
  }
  section.contact input:focus{
    outline: none;
  }
  section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
  }
section.contact h4{
    text-align: center;
}
section.contact p{
    text-align: center;
}
section.contact h4 span{
    color: #3DCFD3;
}

  



